* text=auto !eol
lib/batik-parser-1.5.1.jar -text
lib/batik-svg-dom-1.5.1.jar -text
lib/batik-svggen-1.5.1.jar -text
lib/batik-svggenl-1.5.1.jar -text
lib/batik-util-1.5.1.jar -text
lib/batik-utill-1.5.1.jar -text
lib/batik-xml-1.5.1.jar -text
lib/batik-xmll-1.5.1.jar -text
lib/commons-logging.jar -text
lib/log4j-1.2.6.jar -text
lib/xerces_2_5_0.jar -text
lib/xml-apis.jar -text
src/org/tigris/gef/Images/ActionState.gif -text
src/org/tigris/gef/Images/Activation.gif -text
src/org/tigris/gef/Images/Active.gif -text
src/org/tigris/gef/Images/Aggregation.gif -text
src/org/tigris/gef/Images/AlignBottoms.gif -text
src/org/tigris/gef/Images/AlignHorizontalCenters.gif -text
src/org/tigris/gef/Images/AlignLefts.gif -text
src/org/tigris/gef/Images/AlignRights.gif -text
src/org/tigris/gef/Images/AlignToGrid.gif -text
src/org/tigris/gef/Images/AlignTops.gif -text
src/org/tigris/gef/Images/AlignVerticalCenters.gif -text
src/org/tigris/gef/Images/Back.gif -text
src/org/tigris/gef/Images/Backward.gif -text
src/org/tigris/gef/Images/Broom.gif -text
src/org/tigris/gef/Images/Circle.gif -text
src/org/tigris/gef/Images/Copy.gif -text
src/org/tigris/gef/Images/Cut.gif -text
src/org/tigris/gef/Images/Delete.gif -text
src/org/tigris/gef/Images/DistributeHorizontalCenters.gif -text
src/org/tigris/gef/Images/DistributeHorizontalSpacing.gif -text
src/org/tigris/gef/Images/DistributeVerticalCenters.gif -text
src/org/tigris/gef/Images/DistributeVerticalSpacing.gif -text
src/org/tigris/gef/Images/Finished.gif -text
src/org/tigris/gef/Images/Forward.gif -text
src/org/tigris/gef/Images/Image1.gif -text
src/org/tigris/gef/Images/Image2.gif -text
src/org/tigris/gef/Images/Ink.gif -text
src/org/tigris/gef/Images/Line.gif -text
src/org/tigris/gef/Images/Link.gif -text
src/org/tigris/gef/Images/New.gif -text
src/org/tigris/gef/Images/Node.gif -text
src/org/tigris/gef/Images/NodeOne.gif -text
src/org/tigris/gef/Images/NodeTwo.gif -text
src/org/tigris/gef/Images/NudgeDown.gif -text
src/org/tigris/gef/Images/NudgeLeft.gif -text
src/org/tigris/gef/Images/NudgeRight.gif -text
src/org/tigris/gef/Images/NudgeUp.gif -text
src/org/tigris/gef/Images/ObjDelete.gif -text
src/org/tigris/gef/Images/Open.gif -text
src/org/tigris/gef/Images/Paste.gif -text
src/org/tigris/gef/Images/Polygon.gif -text
src/org/tigris/gef/Images/Print.gif -text
src/org/tigris/gef/Images/RRect.gif -text
src/org/tigris/gef/Images/Rectangle.gif -text
src/org/tigris/gef/Images/Redo.gif -text
src/org/tigris/gef/Images/Save.gif -text
src/org/tigris/gef/Images/Select.gif -text
src/org/tigris/gef/Images/Spline.gif -text
src/org/tigris/gef/Images/Start.gif -text
src/org/tigris/gef/Images/Text.gif -text
src/org/tigris/gef/Images/ToBack.gif -text
src/org/tigris/gef/Images/ToFront.gif -text
src/org/tigris/gef/Images/Undo.gif -text
tools/ant-1.4.1/lib/ant.jar -text
tools/ant-1.4.1/lib/crimson.jar -text
tools/ant-1.4.1/lib/jaxp.jar -text
tools/ant-1.4.1/lib/xalan-2.0.0.jar -text
tools/ant-1.4.1/lib/xalanj1compat.jar -text
tools/ant-1.4.1/lib/xerces-1.2.3.jar -text
tools/ant-1.4.1/optional.jar -text
www/images/gef_logo.gif -text
www/images/gef_logo_small.gif -text
www/images/gefscreen1.gif -text
www/images/props.gif -text
www/v0.6/docs/designslides/screenshots/auxwindows.gif -text
www/v0.6/docs/designslides/screenshots/auxwindows2.gif -text
www/v0.6/docs/designslides/screenshots/create.gif -text
www/v0.6/docs/designslides/screenshots/create2.gif -text
www/v0.6/docs/designslides/screenshots/editor.gif -text
www/v0.6/docs/designslides/screenshots/gef_omt2b.gif -text
www/v0.6/docs/designslides/screenshots/gef_omt2c.gif -text
www/v0.6/docs/designslides/screenshots/modeSelect.gif -text
www/v0.6/docs/designslides/screenshots/modify.gif -text
www/v0.6/docs/designslides/screenshots/modify2.gif -text
www/v0.6/docs/designslides/screenshots/net.gif -text
www/v0.6/docs/designslides/screenshots/net2.gif -text
www/v0.6/docs/designslides/screenshots/selections.gif -text
www/v0.6/docs/designslides/screenshots/setattr.gif -text
www/v0.6/docs/designslides/screenshots/setattr2.gif -text
www/v0.6/docs/designslides/screenshots/spawn.gif -text
www/v0.6/docs/designslides/screenshots/spawn2.gif -text
