* text=auto !eol
trunk/.classpath -text
trunk/.project -text
trunk/lib/commons-logging.jar -text
trunk/lib/gef.jar -text
trunk/lib/log4j-1.2.6.jar -text
trunk/lib/swingwt.jar -text
trunk/lib/swt-awt-win32-3236.dll -text
trunk/lib/swt-gdip-win32-3236.dll -text
trunk/lib/swt-wgl-win32-3236.dll -text
trunk/lib/swt-win32-3236.dll -text
trunk/lib/swt.jar -text
trunk/lib/xerces_2_5_0.jar -text
trunk/lib/xml-apis.jar -text
trunk/src/org/tigris/gef/Images/ActionState.gif -text
trunk/src/org/tigris/gef/Images/Activation.gif -text
trunk/src/org/tigris/gef/Images/Active.gif -text
trunk/src/org/tigris/gef/Images/Aggregation.gif -text
trunk/src/org/tigris/gef/Images/AlignBottoms.gif -text
trunk/src/org/tigris/gef/Images/AlignHorizontalCenters.gif -text
trunk/src/org/tigris/gef/Images/AlignLefts.gif -text
trunk/src/org/tigris/gef/Images/AlignRights.gif -text
trunk/src/org/tigris/gef/Images/AlignToGrid.gif -text
trunk/src/org/tigris/gef/Images/AlignTops.gif -text
trunk/src/org/tigris/gef/Images/AlignVerticalCenters.gif -text
trunk/src/org/tigris/gef/Images/Back.gif -text
trunk/src/org/tigris/gef/Images/Backward.gif -text
trunk/src/org/tigris/gef/Images/Broom.gif -text
trunk/src/org/tigris/gef/Images/Circle.gif -text
trunk/src/org/tigris/gef/Images/Copy.gif -text
trunk/src/org/tigris/gef/Images/Cut.gif -text
trunk/src/org/tigris/gef/Images/Delete.gif -text
trunk/src/org/tigris/gef/Images/DistributeHorizontalCenters.gif -text
trunk/src/org/tigris/gef/Images/DistributeHorizontalSpacing.gif -text
trunk/src/org/tigris/gef/Images/DistributeVerticalCenters.gif -text
trunk/src/org/tigris/gef/Images/DistributeVerticalSpacing.gif -text
trunk/src/org/tigris/gef/Images/Finished.gif -text
trunk/src/org/tigris/gef/Images/Forward.gif -text
trunk/src/org/tigris/gef/Images/Image1.gif -text
trunk/src/org/tigris/gef/Images/Image2.gif -text
trunk/src/org/tigris/gef/Images/Ink.gif -text
trunk/src/org/tigris/gef/Images/Line.gif -text
trunk/src/org/tigris/gef/Images/Link.gif -text
trunk/src/org/tigris/gef/Images/New.gif -text
trunk/src/org/tigris/gef/Images/Node.gif -text
trunk/src/org/tigris/gef/Images/NodeOne.gif -text
trunk/src/org/tigris/gef/Images/NodeTwo.gif -text
trunk/src/org/tigris/gef/Images/NudgeDown.gif -text
trunk/src/org/tigris/gef/Images/NudgeLeft.gif -text
trunk/src/org/tigris/gef/Images/NudgeRight.gif -text
trunk/src/org/tigris/gef/Images/NudgeUp.gif -text
trunk/src/org/tigris/gef/Images/ObjDelete.gif -text
trunk/src/org/tigris/gef/Images/Open.gif -text
trunk/src/org/tigris/gef/Images/Paste.gif -text
trunk/src/org/tigris/gef/Images/Polygon.gif -text
trunk/src/org/tigris/gef/Images/Print.gif -text
trunk/src/org/tigris/gef/Images/RRect.gif -text
trunk/src/org/tigris/gef/Images/Rectangle.gif -text
trunk/src/org/tigris/gef/Images/Redo.gif -text
trunk/src/org/tigris/gef/Images/Save.gif -text
trunk/src/org/tigris/gef/Images/Select.gif -text
trunk/src/org/tigris/gef/Images/Spline.gif -text
trunk/src/org/tigris/gef/Images/Start.gif -text
trunk/src/org/tigris/gef/Images/Text.gif -text
trunk/src/org/tigris/gef/Images/ToBack.gif -text
trunk/src/org/tigris/gef/Images/ToFront.gif -text
trunk/src/org/tigris/gef/Images/Undo.gif -text
trunk/src/org/tigris/gef/base/FileDialog.java -text
trunk/src/org/tigris/gef/base/InputEvent.java -text
trunk/src/org/tigris/gef/base/KeyEvent.java -text
trunk/src/org/tigris/gef/base/KeyListener.java -text
trunk/src/org/tigris/gef/base/MouseEvent.java -text
trunk/src/org/tigris/gef/base/MouseListener.java -text
trunk/src/org/tigris/gef/base/MouseMotionListener.java -text
trunk/src/org/tigris/gef/base/PopupMenu.java -text
trunk/src/org/tigris/gef/graph/presentation/Graph.java -text
trunk/src/org/tigris/gef/graph/presentation/GraphFrame.java -text
trunk/src/org/tigris/gef/graph/presentation/GraphInternalPane.java -text
trunk/src/org/tigris/gef/graph/presentation/JGraph.java -text
trunk/src/org/tigris/gef/graph/presentation/JGraphFrame.java -text
trunk/src/org/tigris/gef/graph/presentation/JSplitGraphPane.java -text
trunk/src/org/tigris/gef/graph/presentation/SplitGraphPane.java -text
trunk/src/org/tigris/gef/swing/JFileDialog.java -text
trunk/src/org/tigris/gef/swing/JPopupMenu.java -text
trunk/src/org/tigris/gef/swing/SwingKeyEventWrapper.java -text
trunk/src/org/tigris/gef/swing/SwingMouseEventWrapper.java -text
trunk/src/org/tigris/gef/swt/JFileDialog.java -text
trunk/src/org/tigris/gef/swt/JGraph.java -text
trunk/src/org/tigris/gef/swt/JGraphFrame.java -text
trunk/src/org/tigris/gef/swt/JPopupMenu.java -text
trunk/src/org/tigris/gef/swt/LayerGrid.java -text
trunk/src/org/tigris/gef/swt/OpenPGMLAction.java -text
trunk/src/org/tigris/gef/swt/OpenSVGAction.java -text
trunk/src/org/tigris/gef/swt/OpenWindowAction.java -text
trunk/src/org/tigris/gef/swt/PrintAction.java -text
trunk/src/org/tigris/gef/swt/SaveAction.java -text
trunk/src/org/tigris/gef/swt/SavePGMLAction.java -text
trunk/src/org/tigris/gef/swt/SwingUtil.java -text
trunk/src/org/tigris/gef/swt/SwtKeyEventWrapper.java -text
trunk/src/org/tigris/gef/swt/SwtMouseEventWrapper.java -text
trunk/src/org/tigris/gef/swt/SwtUtil.java -text
trunk/tools/ant-1.4.1/lib/ant.jar -text
trunk/tools/ant-1.4.1/lib/crimson.jar -text
trunk/tools/ant-1.4.1/lib/jaxp.jar -text
trunk/tools/ant-1.4.1/lib/xalan-2.0.0.jar -text
trunk/tools/ant-1.4.1/lib/xalanj1compat.jar -text
trunk/tools/ant-1.4.1/lib/xerces-1.2.3.jar -text
trunk/tools/ant-1.4.1/optional.jar -text
trunk/tools/junit-3.8.1/junit.jar -text
trunk/trunk/.classpath -text
trunk/trunk/.project -text
trunk/trunk/lib/commons-logging.jar -text
trunk/trunk/lib/log4j-1.2.6.jar -text
trunk/trunk/lib/xerces_2_5_0.jar -text
trunk/trunk/lib/xml-apis.jar -text
trunk/trunk/src/org/tigris/gef/Images/ActionState.gif -text
trunk/trunk/src/org/tigris/gef/Images/Activation.gif -text
trunk/trunk/src/org/tigris/gef/Images/Active.gif -text
trunk/trunk/src/org/tigris/gef/Images/Aggregation.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignBottoms.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignHorizontalCenters.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignLefts.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignRights.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignToGrid.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignTops.gif -text
trunk/trunk/src/org/tigris/gef/Images/AlignVerticalCenters.gif -text
trunk/trunk/src/org/tigris/gef/Images/Back.gif -text
trunk/trunk/src/org/tigris/gef/Images/Backward.gif -text
trunk/trunk/src/org/tigris/gef/Images/Broom.gif -text
trunk/trunk/src/org/tigris/gef/Images/Circle.gif -text
trunk/trunk/src/org/tigris/gef/Images/Copy.gif -text
trunk/trunk/src/org/tigris/gef/Images/Cut.gif -text
trunk/trunk/src/org/tigris/gef/Images/Delete.gif -text
trunk/trunk/src/org/tigris/gef/Images/DistributeHorizontalCenters.gif -text
trunk/trunk/src/org/tigris/gef/Images/DistributeHorizontalSpacing.gif -text
trunk/trunk/src/org/tigris/gef/Images/DistributeVerticalCenters.gif -text
trunk/trunk/src/org/tigris/gef/Images/DistributeVerticalSpacing.gif -text
trunk/trunk/src/org/tigris/gef/Images/Finished.gif -text
trunk/trunk/src/org/tigris/gef/Images/Forward.gif -text
trunk/trunk/src/org/tigris/gef/Images/Image1.gif -text
trunk/trunk/src/org/tigris/gef/Images/Image2.gif -text
trunk/trunk/src/org/tigris/gef/Images/Ink.gif -text
trunk/trunk/src/org/tigris/gef/Images/Line.gif -text
trunk/trunk/src/org/tigris/gef/Images/Link.gif -text
trunk/trunk/src/org/tigris/gef/Images/New.gif -text
trunk/trunk/src/org/tigris/gef/Images/Node.gif -text
trunk/trunk/src/org/tigris/gef/Images/NodeOne.gif -text
trunk/trunk/src/org/tigris/gef/Images/NodeTwo.gif -text
trunk/trunk/src/org/tigris/gef/Images/NudgeDown.gif -text
trunk/trunk/src/org/tigris/gef/Images/NudgeLeft.gif -text
trunk/trunk/src/org/tigris/gef/Images/NudgeRight.gif -text
trunk/trunk/src/org/tigris/gef/Images/NudgeUp.gif -text
trunk/trunk/src/org/tigris/gef/Images/ObjDelete.gif -text
trunk/trunk/src/org/tigris/gef/Images/Open.gif -text
trunk/trunk/src/org/tigris/gef/Images/Paste.gif -text
trunk/trunk/src/org/tigris/gef/Images/Polygon.gif -text
trunk/trunk/src/org/tigris/gef/Images/Print.gif -text
trunk/trunk/src/org/tigris/gef/Images/RRect.gif -text
trunk/trunk/src/org/tigris/gef/Images/Rectangle.gif -text
trunk/trunk/src/org/tigris/gef/Images/Redo.gif -text
trunk/trunk/src/org/tigris/gef/Images/Save.gif -text
trunk/trunk/src/org/tigris/gef/Images/Select.gif -text
trunk/trunk/src/org/tigris/gef/Images/Spline.gif -text
trunk/trunk/src/org/tigris/gef/Images/Start.gif -text
trunk/trunk/src/org/tigris/gef/Images/Text.gif -text
trunk/trunk/src/org/tigris/gef/Images/ToBack.gif -text
trunk/trunk/src/org/tigris/gef/Images/ToFront.gif -text
trunk/trunk/src/org/tigris/gef/Images/Undo.gif -text
trunk/trunk/tools/ant-1.4.1/lib/ant.jar -text
trunk/trunk/tools/ant-1.4.1/lib/crimson.jar -text
trunk/trunk/tools/ant-1.4.1/lib/jaxp.jar -text
trunk/trunk/tools/ant-1.4.1/lib/xalan-2.0.0.jar -text
trunk/trunk/tools/ant-1.4.1/lib/xalanj1compat.jar -text
trunk/trunk/tools/ant-1.4.1/lib/xerces-1.2.3.jar -text
trunk/trunk/tools/ant-1.4.1/optional.jar -text
trunk/trunk/tools/junit-3.8.1/junit.jar -text
trunk/trunk/www/api/current/resources/inherit.gif -text
trunk/trunk/www/api/dev/resources/inherit.gif -text
trunk/trunk/www/images/gef_logo.gif -text
trunk/trunk/www/images/gef_logo_small.gif -text
trunk/trunk/www/images/gefscreen1.gif -text
trunk/trunk/www/images/java_dot_net_member.gif -text
trunk/trunk/www/images/props.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/auxwindows.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/auxwindows2.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/create.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/create2.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/editor.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/gef_omt2b.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/gef_omt2c.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/modeSelect.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/modify.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/modify2.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/net.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/net2.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/selections.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/setattr.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/setattr2.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/spawn.gif -text
trunk/trunk/www/v0.6/docs/designslides/screenshots/spawn2.gif -text
trunk/www/api/current/resources/inherit.gif -text
trunk/www/api/dev/resources/inherit.gif -text
trunk/www/images/gef_logo.gif -text
trunk/www/images/gef_logo_small.gif -text
trunk/www/images/gefscreen1.gif -text
trunk/www/images/java_dot_net_member.gif -text
trunk/www/images/props.gif -text
trunk/www/v0.6/docs/designslides/screenshots/auxwindows.gif -text
trunk/www/v0.6/docs/designslides/screenshots/auxwindows2.gif -text
trunk/www/v0.6/docs/designslides/screenshots/create.gif -text
trunk/www/v0.6/docs/designslides/screenshots/create2.gif -text
trunk/www/v0.6/docs/designslides/screenshots/editor.gif -text
trunk/www/v0.6/docs/designslides/screenshots/gef_omt2b.gif -text
trunk/www/v0.6/docs/designslides/screenshots/gef_omt2c.gif -text
trunk/www/v0.6/docs/designslides/screenshots/modeSelect.gif -text
trunk/www/v0.6/docs/designslides/screenshots/modify.gif -text
trunk/www/v0.6/docs/designslides/screenshots/modify2.gif -text
trunk/www/v0.6/docs/designslides/screenshots/net.gif -text
trunk/www/v0.6/docs/designslides/screenshots/net2.gif -text
trunk/www/v0.6/docs/designslides/screenshots/selections.gif -text
trunk/www/v0.6/docs/designslides/screenshots/setattr.gif -text
trunk/www/v0.6/docs/designslides/screenshots/setattr2.gif -text
trunk/www/v0.6/docs/designslides/screenshots/spawn.gif -text
trunk/www/v0.6/docs/designslides/screenshots/spawn2.gif -text
