* text=auto !eol
dist/argo/src/uci/Images/Activity.gif -text
dist/argo/src/uci/Images/ActivityDiagram.gif -text
dist/argo/src/uci/Images/Actor.gif -text
dist/argo/src/uci/Images/AddAttribute.gif -text
dist/argo/src/uci/Images/AddInternalTransition.gif -text
dist/argo/src/uci/Images/AddMessage.gif -text
dist/argo/src/uci/Images/AddOperation.gif -text
dist/argo/src/uci/Images/Association.gif -text
dist/argo/src/uci/Images/AssociationInverse.gif -text
dist/argo/src/uci/Images/AssociationRole.gif -text
dist/argo/src/uci/Images/Asynchronous.gif -text
dist/argo/src/uci/Images/Attribute.gif -text
dist/argo/src/uci/Images/Branch.gif -text
dist/argo/src/uci/Images/Class.gif -text
dist/argo/src/uci/Images/ClassDiagram.gif -text
dist/argo/src/uci/Images/ClassifierRole.gif -text
dist/argo/src/uci/Images/Collaboration.gif -text
dist/argo/src/uci/Images/CollaborationDiagram.gif -text
dist/argo/src/uci/Images/Communication.gif -text
dist/argo/src/uci/Images/Component.gif -text
dist/argo/src/uci/Images/CompositeAggregation.gif -text
dist/argo/src/uci/Images/CompositeState.gif -text
dist/argo/src/uci/Images/Decision.gif -text
dist/argo/src/uci/Images/DeepHistory.gif -text
dist/argo/src/uci/Images/Dependency.gif -text
dist/argo/src/uci/Images/DeploymentDiagram.gif -text
dist/argo/src/uci/Images/Extends.gif -text
dist/argo/src/uci/Images/Favorites.gif -text
dist/argo/src/uci/Images/FinalState.gif -text
dist/argo/src/uci/Images/Find.gif -text
dist/argo/src/uci/Images/FixItBack.gif -text
dist/argo/src/uci/Images/FixItFinish.gif -text
dist/argo/src/uci/Images/FixItNext.gif -text
dist/argo/src/uci/Images/Flat.gif -text
dist/argo/src/uci/Images/Fork.gif -text
dist/argo/src/uci/Images/Generalization.gif -text
dist/argo/src/uci/Images/Guard.gif -text
dist/argo/src/uci/Images/Hierarchical.gif -text
dist/argo/src/uci/Images/Hush.gif -text
dist/argo/src/uci/Images/HushCritic.gif -text
dist/argo/src/uci/Images/Inheritance.gif -text
dist/argo/src/uci/Images/InheritanceInverse.gif -text
dist/argo/src/uci/Images/Initial.gif -text
dist/argo/src/uci/Images/InputOutput.gif -text
dist/argo/src/uci/Images/Instance.gif -text
dist/argo/src/uci/Images/Interface.gif -text
dist/argo/src/uci/Images/InternalTransition.gif -text
dist/argo/src/uci/Images/Join.gif -text
dist/argo/src/uci/Images/Message.gif -text
dist/argo/src/uci/Images/Model.gif -text
dist/argo/src/uci/Images/Multtrigger.gif -text
dist/argo/src/uci/Images/NavConfig.gif -text
dist/argo/src/uci/Images/NavigateBack.gif -text
dist/argo/src/uci/Images/NavigateForward.gif -text
dist/argo/src/uci/Images/NewPerspective.gif -text
dist/argo/src/uci/Images/NewToDoItem.gif -text
dist/argo/src/uci/Images/Note.gif -text
dist/argo/src/uci/Images/OpenProject.gif -text
dist/argo/src/uci/Images/Operation.gif -text
dist/argo/src/uci/Images/Package.gif -text
dist/argo/src/uci/Images/ParallelTransition.gif -text
dist/argo/src/uci/Images/Parameter.gif -text
dist/argo/src/uci/Images/Pattern.gif -text
dist/argo/src/uci/Images/PostIt0.gif -text
dist/argo/src/uci/Images/PostIt100.gif -text
dist/argo/src/uci/Images/PostIt25.gif -text
dist/argo/src/uci/Images/PostIt50.gif -text
dist/argo/src/uci/Images/PostIt75.gif -text
dist/argo/src/uci/Images/PostIt99.gif -text
dist/argo/src/uci/Images/PostItMulti.gif -text
dist/argo/src/uci/Images/Project.gif -text
dist/argo/src/uci/Images/Realization.gif -text
dist/argo/src/uci/Images/Recursion.gif -text
dist/argo/src/uci/Images/Refinement.gif -text
dist/argo/src/uci/Images/ResolveItem.gif -text
dist/argo/src/uci/Images/RetMessage.gif -text
dist/argo/src/uci/Images/SaveProject.gif -text
dist/argo/src/uci/Images/Self_del.gif -text
dist/argo/src/uci/Images/SendEmailToExpert.gif -text
dist/argo/src/uci/Images/ShallowHistory.gif -text
dist/argo/src/uci/Images/SignalReceiving.gif -text
dist/argo/src/uci/Images/SignalSending.gif -text
dist/argo/src/uci/Images/SnoozeCritic.gif -text
dist/argo/src/uci/Images/Splash.gif -text
dist/argo/src/uci/Images/State.gif -text
dist/argo/src/uci/Images/StateDiagram.gif -text
dist/argo/src/uci/Images/StateMachine.gif -text
dist/argo/src/uci/Images/Synchronous.gif -text
dist/argo/src/uci/Images/Trace.gif -text
dist/argo/src/uci/Images/Transition.gif -text
dist/argo/src/uci/Images/Trigger.gif -text
dist/argo/src/uci/Images/UseCase.gif -text
dist/argo/src/uci/Images/UseCaseDiagram.gif -text
dist/argo/src/uci/Images/Uses.gif -text
dist/argo/src/uci/Images/Wiz.gif -text
dist/src/uci/Images/ActionState.gif -text
dist/src/uci/Images/Activation.gif -text
dist/src/uci/Images/Active.gif -text
dist/src/uci/Images/Aggregation.gif -text
dist/src/uci/Images/AlignBottoms.gif -text
dist/src/uci/Images/AlignHorizontalCenters.gif -text
dist/src/uci/Images/AlignLefts.gif -text
dist/src/uci/Images/AlignRights.gif -text
dist/src/uci/Images/AlignToGrid.gif -text
dist/src/uci/Images/AlignTops.gif -text
dist/src/uci/Images/AlignVerticalCenters.gif -text
dist/src/uci/Images/Back.gif -text
dist/src/uci/Images/Backward.gif -text
dist/src/uci/Images/Broom.gif -text
dist/src/uci/Images/Circle.gif -text
dist/src/uci/Images/Copy.gif -text
dist/src/uci/Images/Cut.gif -text
dist/src/uci/Images/Delete.gif -text
dist/src/uci/Images/DistributeHorizontalCenters.gif -text
dist/src/uci/Images/DistributeHorizontalSpacing.gif -text
dist/src/uci/Images/DistributeVerticalCenters.gif -text
dist/src/uci/Images/DistributeVerticalSpacing.gif -text
dist/src/uci/Images/Finished.gif -text
dist/src/uci/Images/Forward.gif -text
dist/src/uci/Images/Image1.gif -text
dist/src/uci/Images/Image2.gif -text
dist/src/uci/Images/Ink.gif -text
dist/src/uci/Images/Line.gif -text
dist/src/uci/Images/Link.gif -text
dist/src/uci/Images/New.gif -text
dist/src/uci/Images/Node.gif -text
dist/src/uci/Images/NodeOne.gif -text
dist/src/uci/Images/NodeTwo.gif -text
dist/src/uci/Images/NudgeDown.gif -text
dist/src/uci/Images/NudgeLeft.gif -text
dist/src/uci/Images/NudgeRight.gif -text
dist/src/uci/Images/NudgeUp.gif -text
dist/src/uci/Images/ObjDelete.gif -text
dist/src/uci/Images/Open.gif -text
dist/src/uci/Images/Paste.gif -text
dist/src/uci/Images/Polygon.gif -text
dist/src/uci/Images/Print.gif -text
dist/src/uci/Images/RRect.gif -text
dist/src/uci/Images/Rectangle.gif -text
dist/src/uci/Images/Redo.gif -text
dist/src/uci/Images/Save.gif -text
dist/src/uci/Images/Select.gif -text
dist/src/uci/Images/Spline.gif -text
dist/src/uci/Images/Start.gif -text
dist/src/uci/Images/Text.gif -text
dist/src/uci/Images/ToBack.gif -text
dist/src/uci/Images/ToFront.gif -text
dist/src/uci/Images/Undo.gif -text
www/images/5perc_s.gif -text
www/images/EDCSLogoArch.gif -text
www/images/UCIlogo2.gif -text
www/images/argokernel.gif -text
www/images/bullet.gif -text
www/images/chpmade.gif -text
www/images/coolbutton.gif -text
www/images/engineeringpad.gif -text
www/images/gef.gif -text
www/images/gef_omt.gif -text
www/images/gef_omt1.gif -text
www/images/gef_omt2.gif -text
www/images/gef_omt3.gif -text
www/images/gef_omt4.gif -text
www/images/gef_omt5.gif -text
www/images/gefscreen1.gif -text
www/images/jargo.gif -text
www/images/jargoOnBeach.gif -text
www/images/java_repository_logo.gif -text
www/images/leftshadowmask.gif -text
www/images/new.gif -text
www/images/props.gif -text
www/images/topshadowmask.gif -text
www/v0.6/docs/designslides/screenshots/auxwindows.gif -text
www/v0.6/docs/designslides/screenshots/auxwindows2.gif -text
www/v0.6/docs/designslides/screenshots/create.gif -text
www/v0.6/docs/designslides/screenshots/create2.gif -text
www/v0.6/docs/designslides/screenshots/editor.gif -text
www/v0.6/docs/designslides/screenshots/gef_omt2b.gif -text
www/v0.6/docs/designslides/screenshots/gef_omt2c.gif -text
www/v0.6/docs/designslides/screenshots/modeSelect.gif -text
www/v0.6/docs/designslides/screenshots/modify.gif -text
www/v0.6/docs/designslides/screenshots/modify2.gif -text
www/v0.6/docs/designslides/screenshots/net.gif -text
www/v0.6/docs/designslides/screenshots/net2.gif -text
www/v0.6/docs/designslides/screenshots/selections.gif -text
www/v0.6/docs/designslides/screenshots/setattr.gif -text
www/v0.6/docs/designslides/screenshots/setattr2.gif -text
www/v0.6/docs/designslides/screenshots/spawn.gif -text
www/v0.6/docs/designslides/screenshots/spawn2.gif -text
